.iframe-wrapper {
  width:100%;
}

.iframe {
  height:0;
  overflow: hidden;
  padding-bottom:56.25%;
  position: relative;
  width: 100%;
}

.iframe iframe {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.iframe .iframe-value{
  display:none;
}