.hero-wrapper {
  background:var(--hero-bg);
}

main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  padding: 32px;
  margin:0 auto;
  display:block;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.hero picture {
  position:relative;
  z-index:1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius:23px;
}

@media (width >= 992px) {
  .hero {
      width: 65%;
  }
}

@media (width <= 768px) {
  .hero {
      width:86%;
      padding-bottom:20px;
  }
  
  .hero img {
    border-radius:10px;
  }
}
