/* warning component css */
.section.warning-container {
  background-color: var(--warning-background);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  padding: 15px;
  z-index: 3;
  text-align: center;
}

.section.warning-container .warning-wrapper {
  border: var(--warning-border);
  max-width: 100%;
  padding: 25px;
}

.sms div:nth-of-type(3) p {
  color:#ff5200;
  font-size:18px;
  font-weight:normal;
}
.warning p {
  color:var(--warning-color);
  font-size:35px
}

.sms-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight:bold;
  font-size:25px;
  }

 