/* warning component css */
.section.warning-container {
  background-color: var(--warning-background);
  box-sizing: border-box;
  display: block;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 3;
}

.section.warning-container .warning-wrapper {
  border: var(--warning-border);
  max-width: 100%;
  padding: 15px;
  
}

.warning p {
  color:var(--warning-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  text-align: center;
}

@media (width >= 992px) {
  .warning p {
    font-size: 48px;
    line-height: 48px;
  }
}