.checkbox-wrapper {
  background:#575757;
}

.checkbox {
  width:100%;
  margin: 0 auto;
}

.checkbox div {
  display: flex;
  align-items: center;
  color:#aca8a8;
  text-transform: uppercase;
  font-weight: bold;
  font-size:18px;
}

.checkbox > div {
  border-bottom:1px solid #c6c4c4;
  padding:0 25%;
  color:#fff;
}

.checkbox div img {
  width:30px;
  margin: 0 10px;
}

.checkbox > div:first-child {
  background-color:#fff;
  text-align: center;
}

.checkbox > div:first-child h3{
  color:#F9520A;
  margin:0 auto 35px;
}

.checkbox > div > div:nth-child(1){
  flex-grow:1;
}

.checkbox > div:last-child div {
  color:#fff;
}