.brand1{
  --text-color: #454545;
  --body-font-family: "ArialMTBlack";
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: var(--body-font-family);
  --btn-bg-color: #F9520A;
  --btn-text-color: #fff;
  --background-color: white;
  --footer-link-color: #454545;
  --footer-link-hover-color: #F9520A;
  --footer-bg-color: #fff;
  --main-content-background-url: url("/copenhagen/images/HLX-133-GTC-Desktop_logo.png");
  --main-content-background-color-1: #ff5200;
  --background-section-image: linear-gradient(#ff5200 1.1%,#ff5200) no-repeat;
}

.brand2{
  --text-color: #333;
  --body-font-family: "Helvetica Neue", sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: var(--body-font-family);
  --btn-bg-color: #8B713C;
  --btn-text-color: #fff;
  --background-color: white;
  --footer-link-color:  #8B713C;
  --footer-link-hover-color: #fff;
  --footer-bg-color: black;
  --background-section-image: url('../images/d-cop-gtc-200-background-or905.jpg');
}


/* Brand 1 Specific Style Start Here */
.brand1 .section.hero-container .hero-wrapper p{
  background: url(https://www.onnicotine.com/media/.renditions/wysiwyg/subscription/on_logo_on_dark_stacked.png);
  background-repeat: no-repeat;
  height: 163px;
  background-position: center;
}

/* Brand 1 Specific Style End Here */

/* Brand 2 Specific Style Start Here */
/* .brand2 .section.columns-container{
  background: var(--background-section-image);
} */

/* Brand 2 Specific Style End Here */